<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/$fs/css/dark.css">
    <link rel="stylesheet" href="/$fs/css/style-folder.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/$fs/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="/$fs/js/import-material.js"></script>
    <script src="/$fs/js/shared-functions.js"></script>
    <script src="/$fs/js/context-menu.js"></script>
    <script src="/$fs/js/confirm-window.js"></script>
    <script src="/$fs/js/prompt-window.js"></script>
    <script src="/$fs/js/script-folder.js"></script>

    <title>{{ SITE_NAME }}</title>
</head>

<body class="dark">
    <header>
        <div class="address-bar">
            <md-outlined-icon-button id="address-bar-home-button">
                <md-icon class="override-material-icons">home</md-icon>
            </md-outlined-icon-button>
            <md-outlined-icon-button id="address-bar-back-button">
                <md-icon class="override-material-icons">arrow_upward</md-icon>
            </md-outlined-icon-button>
            <md-outlined-text-field label="Path" value="" prefix-text="/" class="path" id="address-bar-path">
            </md-outlined-text-field>
            <md-outlined-icon-button id="address-bar-refresh-button">
                <md-icon class="override-material-icons">refresh</md-icon>
            </md-outlined-icon-button>
            <md-outlined-icon-button id="address-bar-new-folder-button">
                <md-icon class="override-material-icons">create_new_folder</md-icon>
            </md-outlined-icon-button>
        </div>
    </header>
    <main>
        <section id="fileview"></section>
    </main>
</body>

</html>